<div class="navbar bg-base-100 shadow-sm">
    <div class="navbar-start">
        <AuthorizeView>
            <Authorized>
                <div class=" dropdown">
                    <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                        <MenuIcon />
                    </div>
                    <ul class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 shadow p-2">
                        @if (this.Navs is not null && this.Navs.Count > 0)
                        {
                            foreach (var nav in this.Navs)
                            {
                                if (nav.clientNav)
                                {
                                    <li>
                                        <NavLink tabindex="-1" data-enhance-nav="false" data-not-solid="true" data-active-class="menu-active"
                                            ActiveClass="menu-active" href="@nav.Path">@nav.Name</NavLink>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <NavLink ActiveClass="menu-active" href="@nav.Path">@nav.Name</NavLink>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
            </Authorized>
        </AuthorizeView>

        <NavLink href="/" class="btn btn-ghost text-xl">Accounting</NavLink>
    </div>
    <div class="navbar-center hidden lg:flex ">
        <AuthorizeView>
            <Authorized>
                <ul class="menu menu-horizontal py-0">
                    @if (this.Navs is not null && this.Navs.Count > 0)
                    {
                        foreach (var nav in this.Navs)
                        {
                            if (nav.clientNav)
                            {
                                <li>
                                    <NavLink data-enhance-nav="false" data-not-solid="true" data-active-class="menu-active"
                                        ActiveClass="menu-active" href="@nav.Path">@nav.Name</NavLink>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <NavLink ActiveClass="menu-active" href="@nav.Path">@nav.Name</NavLink>
                                </li>
                            }
                        }
                    }
                </ul>
            </Authorized>
        </AuthorizeView>
    </div>
    <div class="navbar-end gap-2">
        <ThemeSwitch />

        <AuthorizeView>
            <Authorized>
                <Avatar />
            </Authorized>
            <NotAuthorized>
                <NavLink class="btn btn-link px-0" href="/Account/Login">登录</NavLink>
                <NavLink class="btn btn-link px-0" href="/Account/Register">注册</NavLink>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

@code {
    [Parameter]
    public ICollection<NavModel>? Navs { set; get; }
}